/* QMenu & QMainWindow */
MainWindow, QMenuBar
{
    background-color: rgb( 112,112,112 );
    color: white;
}

QMenu
{
    background-color: rgb( 130,130,130 );
    margin: 1px;
    color: white;
}

QMenu::item:selected
{
    background-color: rgb( 100,100,100 );
    color: rgb( 85, 255, 255 );
}


QMenuBar::item:selected
{
    background-color: rgb( 80,80,80 );
}

QMenuBar::item:pressed
{
    background: rgb( 130,130,130 );
}

/* QLabel */
QLabel
{
    color: white;
}

/* QLineEdit */
QLineEdit
{
   background-color: rgb( 200, 200, 200 );
   border: 1px solid black;
}

QLineEdit::hover
{
   border-color: #1F3F89;
}

/* QDateEdit */
QDateEdit
{
    background-color: rgb( 200, 200, 200 );
    border: 1px solid black;
}

QDateEdit::hover
{
   border-color: #1F3F89;
}

/* QTableWidget */
QTableView
{
    background-color: rgb( 200, 200, 200 );
}

QTableView::item:selected
{
    background-color: rgb( 80, 80, 80 );
}

/* QHeaderView */
QHeaderView
{
    background-color: rgb( 180, 180, 180 );
}

QHeaderView::section
{
    color: rgb(85, 255, 255);

    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1,
                                  stop:0 #616161, stop: 0.5 #505050,
                                  stop: 0.6 #434343, stop:1 #656565 );
    padding-left: 4px;
    border: 1px solid #6C6C6C;
}

/* QPushButton */
QPushButton
{
    background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0,
    stop:1.0 rgb( 133, 133, 135 ),
    stop:0.4 rgb( 31, 31, 33 ) );

    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
/*
QPushButton::hover
{
    background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0,
    stop:1.0 rgb( 133, 133, 135 ),
    stop:0.4 rgb( 31, 31, 33 ),
    stop:0.2 rgb( 70, 70, 70 ) );
}

QPushButton:pressed
{
    background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0,
    stop:0.0 rgba( 1, 1, 5, 80 ),
    stop:0.6 rgba( 18, 18, 212, 80 ),
    stop:0.5 rgba( 142, 142, 245, 80 ) );

    border: 1px solid rgb( 18, 18, 212 );
}

QPushButton:disabled
{
    background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0,
        stop:1.0 rgb( 135, 135, 135 ),
        stop:0.4 rgb( 112, 112, 112 ) );

    color: rgb( 170, 170, 170 );
    border: 1px solid rgb( 170, 170, 170 );
}
*/
